<div class="container-fluid color-mid">
    <div class="row row-fixed triggered"><div class="row text-left">
            <div class="trail">
                <a href="#/home">Home</a> <i class="fa fa-angle-double-right"></i>
                <a href="#/posts">Blog</a> <i class="fa fa-angle-double-right"></i>
                <a href="#/posts/{{post.id}}">{{post.title}}</a>
            </div>
        </div>
        <div class="col-md-8 post current-post">
            <div class="row text-left">
            <h2 class="post-title"><a href="#/posts/{{post.id}}">{{post.title}}</a></h2>
                    <hr class="line-with-shadow" />
            </div>
            {{!-- Post --}}
            <div class="container-fluid">
                <div class="row text-left posted-by">
                    Posted by {{post.user.username}} on {{post.dateConverted}} in {{post.category}} | {{post.commentsCount}} Comments
                </div>
                <div class="row text-left">
                    <div class="col-md-4 post-img">
                        <img src="{{post.image}}" alt="">
                    </div>
                    <div class="col-md-8 body">
                        {{post.body}}
                    </div>
                </div>
            </div>
            {{!-- Post comments --}}
            <div class="container-fluid comments">
                <h3>{{post.commentsCount}} Comments</h2>
    <hr class="line-with-shadow" />
            {{#each post.comments}}
                <div class="container-fluid comment">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="row">
                                <img src="{{this.user.image}}" alt="" />
                            </div>
                            <div class="row">
                                <span class="date">{{this.date}}</span>
                            </div>
                        </div>
                        <div class="col-md-10  baloon">
                            <h4>{{this.user.username}} says:</h4>
                            <div class="container-fluid">
                                {{this.body}}
                            </div>
                            <div class="container-fluid">
                                <button class="btn btn-default btn-xs pull-right read-more">Read more</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                <div class="container-fluid">
                	<h3 class="leave a comment">Leave a Comment</h3>
                	{{!-- Insert comment form --}}
                </div>
            </div>
        </div>
        {{!-- Recent things --}}
        <div class="col-md-4 recent">
            <div class="container-fluid posts text-left">
                <h4 class="text-left">Recent Posts</h4>
                <div class="container-fluid color-light field">
                    <ul>
                        {{#each recentPosts}}
                        <li><a href="#/posts/{{id}}">{{title}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="container-fluid comments text-left">
                <h4 class="text-left">Recent Comments</h4>
                <div class="container-fluid color-light field">
                    <ul>
                        {{#each recentComments}}
                        <li><a href="#/posts/{{postId}}">{{body}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
